<ion-grid>
  <ion-row class="foot">
    <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" size-xl="1"></ion-col>
    <ion-col size-xs="11" size-sm="11" size-md="10" size-lg="10" size-xl="10">
      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3">


          <h1 class="name">
            Kafila Tours & Travels
          </h1>

          <ion-label class="mss-content-2">
            <ion-icon name="locate"></ion-icon>
            10185-C, Arya Samaj Road, Karol Bagh, New Delhi - 110005.
          </ion-label>



        </ion-col>



        <ion-col size-sm="6" size-xs="6" size-md="3" size-lg="3" size-xl="3">

          <ion-row class="ion-padding">
            <ion-col class="main-footer-head" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              Support & Terms
            </ion-col>
            <ion-col class="main-footer-min " size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label  class="footer-hover" (click)="contactus()">
                <ion-icon name="call"></ion-icon> Contact Us
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover" (click)="aboutus()">
                <ion-icon name="information-circle"></ion-icon> About us
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover" (click)="addedShortly()">
                <ion-icon name="information-circle"></ion-icon> Terms & Conditions
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label  class="footer-hover" (click)="addedShortly()">
                <ion-icon name="information-circle"></ion-icon> Privacy & Policy
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover" (click)="addedShortly()">
                <ion-icon name="information-circle"></ion-icon> Rules & Restrictions
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="person-add"></ion-icon> Register
              </ion-label>
            </ion-col>

          </ion-row>

        </ion-col>

        <ion-col size-sm="6" size-xs="6" size-md="3" size-lg="3" size-xl="3">

          <ion-row class="ion-padding">
            <ion-col class="main-footer-head" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              Contact Us
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="call"></ion-icon> +91 8587855513
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="mail"></ion-icon> support@kafilatravel.in
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="mail"></ion-icon> feedback@kafilatravel.in
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-col>



        <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3">
          <ion-row class="ion-padding">
            <ion-col class="main-footer-min none2 none3" size-sm="6" size-xs="6" size-md="12" size-lg="12" size-xl="12">
              <input class="subs-ipt"><button class="subs-btn">Subscribe</button>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="6" size-xs="6" size-md="12" size-lg="12" size-xl="12">
              Folllow Us On :
              <ion-icon class="logo" name="logo-facebook"></ion-icon>
              <ion-icon class="logo" name="logo-twitter"></ion-icon>
              <ion-icon class="logo" name="logo-youtube"></ion-icon>
              <ion-icon class="logo" name="logo-linkedin"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>


      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row
    style="padding-top: 14px; background-color: rgba(179, 179, 179, 0.672); text-align: center; color: rgb(43, 43, 43);">
    <ion-col class="ion-padding" size-sm="6" size-xs="12" size-md="12" size-lg="12" size-xl="12">
      <ion-label class="bottom-footer">Copyright © 2022 www.kafilatravel.in. All rights reserved</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>