*{
  font-family: serif;
}

ion-grid{
    padding: 0px;
}

.back-c{
  background-color: #e4e4e46b;
}
ion-col{
  padding: 0px;
}



@media only screen and (max-width: 3000px) {

  .footer-hover:hover{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    margin: 0px;
    // background-color: rgba(199, 199, 199, 0.672);
  }
  

  .padding{
    padding: 0px 20px 20px 20px;
    text-align: justify;
  }
  
 
  .foot{
    background-color: rgba(199, 199, 199, 0.487);
    border-top: 2px solid red;
  }
  ion-item{
    ion-label{
      margin: 0px;
    }
   
  }
  .subs-ipt{
    outline: 0px;
    padding: 5px 0px;
    border-top: 1px  solid #0c7939;
    border-bottom: 1px  solid #0c7939;
    border-left: 1px  solid #0c7939;
    margin-top: 50px;
    border-right: 1px solid white;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
  }
  .subs-btn{
    color: #fff;
    background-color: #0c7939;
    padding:9px 0px;
    width:50%;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
  }
 
 
 

  
 
  .mss-content-2{
    font-size: 13px;
    color: black;
    padding: 0px;
    margin: 0px;
  }

 
  .name{
    padding: 70px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-head{
    padding: 20px 0px;
    font-size: 17px;
    font-weight: 600;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 400;
    color: #3d3d3d;
  }
  
  .logo{
    font-size: 28px;
    padding: 10px 0px 0px 10px;
  }
  .logo:hover{
    color: #0c7939;
    cursor: pointer;
  }

  .float{
    float: right;
  }
  .s-text{
   
    color: #000;
    padding: 0px 5px;
  }
}
@media only screen and (max-width: 1441px)and (min-width: 1025px ) {
  .s-text{
    font-size: 14px;
    color: #000;
    padding: 0px 5px;
  }
  .name{
    padding: 50px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
    font-size: 22px;
  }
 

 
 
 
 

  .s-app{
    font-size: 13px;
    cursor: pointer;
    padding: 10px 0px 0px 0px;
  }
  .main-footer-head{
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
  }
  
  .logo{
    font-size: 28px;
    padding: 10px 0px 0px 10px;
  }
  .logo:hover{
    color: #f7bb1e;
    cursor: pointer;
  }
  
  .float{
    float: right;
  }

  .mss-content-2{
    font-size: 14px;
    color: black;

  }
}



@media only screen and (max-width: 1024px)and (min-width: 768px ) {
  .none{
    display: none;
  }
  .name{
    padding: 50px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
    font-size: 18px;
  }
 


  .main-footer-head{
    padding: 20px 0px;
    font-size: 10px;
    font-weight: 500;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 10px 0px;
    font-size: 9px;
    color: #000000;
  }
  
  .logo{
    font-size: 9px;
    padding: 0px 0px 0px 0px;
  }
  .logo:hover{
    color: #f7bb1e;
    cursor: pointer;
  }

  .float{
    float: right;
  }

  .mss-content-2{
    font-size: 12px;
    color: black;

  }
  .s-text{
    font-size: 9px;
    color: #000;
    padding: 0px 5px;
  }
}




@media only screen and (max-width: 768px)and (min-width: 605px ) {
  .s-text{
    font-size: 9px;
    color: #000;
    padding: 0px 5px;
  }
  .name{
    padding: 50px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
    font-size: 18px;
  }
  .none1{
    display: none;
  }
 

 
  ion-col{
    padding: 0px!important;
    margin: 0px;
  }

  
  ion-row{
    padding: 0px;
  }

  .s-app{
    font-size: 12px;
    cursor: pointer;
  }

  .main-footer-head{
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 10px 0px;
    font-size: 12px;
    
    color: #050505;
  }
  
  .logo{
    font-size: 16px;
    padding: 0px 0px 0px 0px;
  }
  .logo:hover{
    color: #f7bb1e;
    cursor: pointer;
  }
  .bottom-footer{
    font-size: 7px;
  }
  .float{
    float: right;
  }

  .mss-content-2{
    font-size: 10px;
    color: black;

  }
}
    

@media only screen and (max-width: 605px )and (min-width: 426px ) {
  .none2{
    display: none;
  }
  .name{
    padding: 30px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
    font-size: 16px;
  }
.app{
    display: none;
  }

 


 
  ion-col{
    padding: 0px!important;
    margin: 0px;
  }

 
  ion-row{
    padding: 0px;
  }
  .s-app{
    font-size: 10px;
    cursor: pointer;
  }
  .main-footer-head{
    padding: 20px 0px;
    font-size: 9px;
    font-weight: 500;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 10px 0px;
    font-size: 7px;
    color: #000000;
  }
  
  .logo{
    font-size: 9px;
    padding: 0px 0px 0px 0px;
  }
  .logo:hover{
    color: #f7bb1e;
    cursor: pointer;
  }
  .bottom-footer{
    font-size: 7px;
  }
  .float{
    float: right;
  }

  .mss-content-2{
    font-size: 10px;
    color: black;

  }
  .s-text{
    font-size: 9px;
    color: #000;
    padding: 0px 5px;
  }
  .subs-ipt{
    outline: 0px;
    padding: 5px 0px;
    // border: 1px  solid #0c7939;
    margin-top: 10px;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .subs-btn{
    color: #fff;
    background-color: #0c7939;
    padding:11px 0px;
    width:50%;
    font-size: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}





@media only screen and (max-width: 425px ) and (min-width: 320px){
  .none3{
    display: none;
  }
  .name{
    padding: 30px 0px 0px 0px;
    font-weight: 800;
    color: #0c7939;
    font-family: serif;
    font-size:16px;
    margin: 0px;
  }
  .s-text{
    font-size: 9px;
    color: #000;
    padding: 0px 5px;
  }

  ion-col{
    padding: 0px!important;
    margin: 0px;
  }
  ion-row{
    padding: 0px;
  }
  .main-footer-head{
    padding: 20px 0px;
    font-size: 9px;
    font-weight: 500;
    color: #0c7939;
    font-family: serif;
  }
  .main-footer-min{
    padding: 10px 0px;
    font-size: 7px;
    color: #000000;
  }
  
  .logo{
    font-size: 16px;
    padding: 10px 0px 0px 5px;
  }
  .logo:hover{
    color: #f71e1e;
    cursor: pointer;
  }
  .bottom-footer{
    font-size: 7px;
  }
  .mss-content-2{
    font-size: 10px;
    color: black;
  }
  .subs-ipt{
    outline: 0px;
    padding: 5px 0px;
    // border: 1px  solid #0c7939;
    margin-top: 10px;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .subs-btn{
    color: #fff;
    background-color: #0c7939;
    padding:11px 0px;
    width:50%;
    font-size: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


}
