<ion-content>
    <ion-row class="ion-padding-top s-bar">
  
  
      <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
  
  
      </ion-col>
  
      <ion-col size-sm="12" size-xs="12" size-md="8" size-lg="8" size-xl="8">
        <ion-row style="padding-top: 10px; margin-top: 10px;">
          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4">
            <fieldset>
              <input type="date">
            </fieldset>
  
          </ion-col>
  
          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4">
            <fieldset>
              <input type="date">
            </fieldset>
          </ion-col>
  
          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4">
            <button class="submit-btn" type="submit">
               Search Payment History
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
  
  
  
  
  
  
    </ion-row>
  </ion-content>