<ion-app>
  <ion-content>
    <ng-container *ngIf="showbooking">
      <ng-container *ngIf="ShowModelDATA">

        <ion-row class="ion-padding-top s-bar">
          <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          </ion-col>
          <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10">
            <ion-row style=" padding-top: 10px;">

              <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
                <fieldset>

                  <input type="date" [max]="maxDate" [(ngModel)]="from">
                </fieldset>
              </ion-col>

              <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
                <fieldset>

                  <input type="date" [max]="maxDate" [(ngModel)]="to">
                </fieldset>
              </ion-col>

              <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">

                <fieldset>


                  <select class="selbox" [(ngModel)]="FromData2">
                    <option value="" disabled="disabled" selected="selected">Select option</option>
                    <option value="CONFIRMED">CONFIRMED</option>
                    <option value="PENDING">PENDING</option>
                    <option value="FAILED">FAILED</option>
                    <option value="">ALL</option>
                  </select>
                </fieldset>
              </ion-col>


              <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
                <button class="submit-btn" type="submit" (click)="apiHit()">
                  <!-- <span class="material-icons" style="justify-content: center;">search</span> -->
                  Booking History </button>
              </ion-col>


              <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
                <ion-badge color="tertiary" class="ionp" style="cursor: pointer;"
                  (click)="exportexcel()">
                  <img src="https://img.icons8.com/material-outlined/12/ffffff/download--v1.png" /> Download Excel
                </ion-badge>

              </ion-col>  
            </ion-row>

            <!-- <br><hr> -->
            <hr style="width:50%; text-align:left; margin: left 1px;">





          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" style="text-align:center ; padding: 20px 0px ;">
            <span class="h1">
              <ion-icon name="airplane"></ion-icon> Flight Booking History
            </span>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding">
            <form #contactForm="ngForm" (ngSubmit)="submit(contactForm.value)">
              <ion-row class="bdr ion-padding">
               
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
                  <fieldset>
                    <input  type="date" placeholder="From"
                    onchange="this.className=(this.value!=''?'has-value':'')" [max]="maxDate"  ngModel name="from" required>
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12"size-md="3" size-lg="3" size-xl="3">
                  <fieldset>
                    <input  type="date" placeholder="To"
                    onchange="this.className=(this.value!=''?'has-value':'')" [max]="maxDate"  ngModel name="to" required>
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <fieldset>
                    <input  placeholder="Flight Code"  ngModel name="fcode" required>
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <button class="ccL-btn" type="submit" [disabled]="!contactForm.valid" >
                    <ion-icon slot="start" name="search" ></ion-icon> Search
                  </button>
                </ion-col>
                
              </ion-row>
            </form>
          </ion-col>
        </ion-row> -->

        <!-- <ion-row *ngIf="wait">
          <ion-col>
            <span>Please Wait We are Fetching Booking History </span>
          </ion-col>
        </ion-row> -->
        <ion-row style="padding: 0px;">
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <!-- <ion-badge color="primary" style="margin: 5px 0px 0px 15px;padding: 5px;">Total Result =
              {{resultArr.length}}
            </ion-badge> -->

            <!-- <ion-badge color="success" style="margin-left: 20px;;padding: 5px; " class="ionp">Total Booking Amount =
            {{this.amt |
            currency:'INR'}}
          </ion-badge> -->
            <!-- <span>From = {{maxDate}} To = {{maxDate}}</span> -->


            <!-- <ion-badge color="danger" class="ionp" style="cursor: pointer;float: right;margin: 5px 20px 0px 0px;"
              (click)="openPDF()">
              <img src="https://img.icons8.com/material-outlined/12/ffffff/download--v1.png" /> Download Pdf
            </ion-badge> -->

            <table id="tabl" class="table" border="1px solid red" style="text-align: center;">
              <thead class="thead">
                <tr>
                  <th class="padding th">
                    S.NO
                  </th>
                  <th class="padding th">
                    Booking Id
                  </th>
                  <th class="padding th">
                    Agent Id

                  </th>
                  <th class="padding th">
                    Booked
                  </th>
                  <!-- <th class="padding th">
                    PCC Alias
                  </th> -->
                  <th class="padding th">
                    FCode
                  </th>
                  <!-- <th class="padding th">
                    Email Id

                  </th> -->

                  <!-- <th class="padding th">
                  Trans Id

                </th> -->
                  <th class="padding th">
                    Sector
                  </th>
                  <th class="padding th">
                    Pnr
                  </th>
                  <th class="padding th">
                    Status
                  </th>
                  <th class="padding th">
                    Total
                  </th>
                  <th class="padding th">
                    Dep Date
                  </th>
                  <!-- <th class="padding th">
                    Request Time
                  </th>
                  <th class="padding th">
                    Response Time
                  </th> -->
                  <th class="padding th">
                    Cancel
                  </th>
                  <th class="padding th">
                    Status
                  </th>
                  <!-- <th class="padding th">
                    Cancellation
                  </th> -->

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of resultArr, index as i" class="hvr">
                  <td class="td">{{i+1}}</td>
                  <td class="td" style="color: rgb(255, 0, 0); cursor: pointer">
                    <b (click)="PNR(d)">{{d.BookingId}}</b>
                  </td>
                  <td class="td">{{d.AgentId}}</td>
                  <td class="td">{{d.BookedBy}}</td>
                  <!-- <td class="td">{{d.PccAlias}}</td> -->
                  <td class="td">{{d.FCode}}</td>
                  <!-- <td class="td">{{d.EmailId}}</td> -->
                  <!-- <td class="td">{{d.TransId}}</td> -->
                  <td class="td">{{d.Sector}}</td>

                  <!-- <td style="color: rgb(8, 144, 255);" class="td"><b>{{d.Pnr}}</b></td> -->
                  <td style="color: rgb(8, 144, 255);" class="td"><b *ngIf="d.Pnr">{{d.Pnr}}</b><b
                      style="color: darkred;" *ngIf="!d.Pnr">NOT CONFIRMED</b></td>
                  <td style="color: rgb(8, 144, 255);" class="td">{{d.Status}}
                  </td>
                  <!-- <td style="color: rgb(8, 144, 255);" class="td"><b>SUCCESS</b><b>FAILED</b></td> -->
                  <td style="color: rgb(26, 114, 30);" class="td"><b>{{d.TotalFare }}</b></td>

                  <td class="td">{{d.DepDate | date: 'dd/MM/yyyy'}} / {{d.DepDate | date:"HH:mm"}}</td>

                  <!-- <td class="td">{{d.ReqTime }}</td>
                  <td class="td">{{d.ResTime }}</td> -->

                  <td class="td">
                    <ion-button *ngIf="d.Status=='CONFIRMED'" color="danger"
                      (click)="CancelTicket2(d)">Cancel</ion-button>
                    <!-- <ion-button color="danger" (click)="CancelTicket(d)">Cancel</ion-button> -->
                  </td>
                  <!-- <td class="td">
                    <ion-button color="danger" *ngIf="d.Status=='CONFIRMED'"  (click)="statusof(d)">Getstatus</ion-button>
                  </td> -->

                  <td class="td">
                    <ion-button color="danger" (click)="statusof2(d)">CANCELLED STATUS</ion-button>
                  </td>

                  <!-- <td><ion-button   color="danger" (click)="showcanclBut(d)" >Cancel</ion-button></td> -->

                </tr>
              </tbody>
            </table>


          </ion-col>
        </ion-row>
      </ng-container>


      <ng-container *ngIf="showtable">
        <ion-row style="display: flex; justify-content: center; align-items: center; margin-top: 150px;">
          <ion-col size-sm="12" size-xs="12" size-md="8" size-lg="8" size-xl="8">
            <ion-card class="cardSize" class="c-Font">
              <ion-row style="background-color: #F4F6F8;padding: 0px;">
                <ion-col size-md="11" size-lg="11" size-xl="11">
                  <span
                    style="display: flex; justify-content: center; align-items: center; font-size: 20px;">Reasons
                  </span>
                </ion-col>

                <ion-col size-md="1" size-lg="1" size-xl="1"
                  style="display: flex; justify-content: center; align-items: center;">
                  <!-- <ion-button   (click)="goBackcancel()">Go Back</ion-button> -->
                  <ion-icon name="close-outline" (click)="goBackcancel()"
                    style="font-size: 20px; text-align: end;"></ion-icon>
                </ion-col>
              </ion-row>

              <form [formGroup]="remarksCommit">


                <ion-row style="display: flex; justify-content: center; align-items: center;">
                  <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="c-Font selbox">
                    <select formControlName="rescode">
                      <optgroup style=" font-size: 17px;">
                        <option value="" disabled="disabled" selected="selected">Select Reason</option>
                        <option value="CTP">CTP (Change In Travels Plans)</option>
                        <option value="MMF">MMF (Missed My Flight)</option>
                        <option value="FCA">FCA (Flight Cancelled by Airline)</option>
                        <option value="WFB">WFB (Wrong Flight Booked)</option>
                        <option value="ORS">ORS (Other Reasons)</option>
                      </optgroup>
                    </select>

                  </ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="c-Font selbox">
                    <input formControlName="remark" placeholder="Enter Remark" style="border-bottom: #111;" />
                  </ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="c-Font selbox">
                    <button class="submit-btn" style="width: 75%; " type="submit" (click)="select()">Submit</button>
                  </ion-col>
                </ion-row>
              </form>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="showcharges" style="border-radius: 10px;">
        <ion-row style="display: flex; justify-content: center; align-items: center; margin-top: 120px;">
          <ion-col size-sm="12" size-xs="12" size-md="8" size-lg="8" size-xl="8">
            <ion-card>
              <!-- <ion-button slot="start" (click)="goBackcancel()">Go Back</ion-button>
              <h3 style="text-align: center;">Cancellation Charges</h3>
             
              <ion-button slot="end" (click)="confirmCancellation()" *ngIf="hideconfirmbutton">Confirm</ion-button> -->


              <ion-row style="background-color: #F4F6F8;padding: 0px;">
                <ion-col size-md="11" size-lg="11" size-xl="11">
                  <span class="c-Font"
                    style="display: flex; justify-content: center; align-items: center; font-size: 20px;">Cancellation
                    Charges</span>
                </ion-col>

                <ion-col size-md="1" size-lg="1" size-xl="1"
                  style="display: flex; justify-content: center; align-items: center;">
                  <!-- <ion-button   (click)="goBackcancel()">Go Back</ion-button> -->
                  <ion-icon name="close-outline" (click)="goBackcancel()"
                    style="font-size: 20px; text-align: end;"></ion-icon>
                </ion-col>
              </ion-row>




              <ion-row>
                <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" style="padding: 15px;"
                  class="c-Font selbox">

                  <ion-row *ngIf="hideconfirmbutton">
                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM">Booking Id :</span>
                      <span class="search-BY" style="font-size: 10px;">{{cancelBookingId}}</span>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM">PNR :</span>
                      <span class="search-BY" style="font-size: 13px;">{{charge.Charges.Pnr}}</span>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM" *ngIf="hideconfirmbutton">Kafila Fee :</span>
                      <span class="search-BY" style="font-size: 13px;"> {{KafilaCharge}}</span>
                    </ion-col>

                    <ion-col size-md="12" size-lg="12" size-xl="12"
                      style=" margin-top: 5px; border-top: 1px solid rgba(150, 146, 146, 0.818);"></ion-col>





                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM" style="color: orangered;" *ngIf="hideconfirmbutton">Airline Fee :</span>
                      <span class="search-BY" style="font-size: 13px; color: orangered;"> {{Airlinecharge}}</span>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM" style="color: blue;" *ngIf="hideconfirmbutton">Fare :</span>
                      <span class="search-BY" style="font-size: 13px; color: blue;"> {{charge.Charges.Fare}}</span>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-xl="4" style="margin-bottom: 10px;">
                      <span class="Book-NUM" style="color: red;" *ngIf="hideconfirmbutton">Refund Amt :</span>
                      <span class="search-BY" style="font-size: 13px; color: red;">
                        {{charge.Charges.RefundableAmt}}</span>
                    </ion-col>

                    <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" style="padding: 10px;">
                      <button class="submit-btn" style="display: block; margin: auto; width: 50%; margin-top: 10px;"
                        (click)="confirmCancellation()" *ngIf="hideconfirmbutton">Confirm</button>
                    </ion-col>

                  </ion-row>

                  <!-- <strong>
                      <h4 style="color:red; padding: 15px;">Deducted Charges are :-</h4>
                    </strong> -->


                  <span *ngIf="!hideconfirmbutton" style="font-size: 25px;">WE ARE PROCESSING YOUR
                    REQUEST</span><br><br>




                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="showstatus">
        <ion-row style="background-color: #F4F6F8;padding: 0px;">
          <ion-col size-md="11" size-lg="11" size-xl="11">
            <span class="c-Font"
              style="display: flex; justify-content: center; align-items: center; font-size: 20px;">Cancellation
              Status</span>
          </ion-col>

          <ion-col size-md="1" size-lg="1" size-xl="1"
            style="display: flex; justify-content: center; align-items: center;">
            <!-- <ion-button   (click)="goBackcancel()">Go Back</ion-button> -->
            <ion-icon name="close-outline" (click)="goBackcancel()"
              style="font-size: 20px; text-align: end;"></ion-icon>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="showstatus">




          <ion-col size-md="1" size-lg="1" size-xl="1">
            <span style="color: black ;font-size: 20px; ">YOUR TICKET REQUEST STATUS
              {{statusresponse.CancelRemark}}</span>
          </ion-col>



        </ion-row>

        <div style="border: 2px;" *ngIf="showstatuscharges">
          <ion-row>
            <ion-card style="width: 900px ">
              <!-- <h2 style="color:red; padding: 15px; justify-content: center; display: flex;">Booking Id Number :- {{cancelBookingId}}</h2> -->
              <h1 style="color:red; padding: 15px; justify-content: center; display: flex;">Booking Id Number :-
                {{cancelBookingId}}</h1>
              <table class="table">
                <thead class="thead">
                  <tr>
                    <th class="padding th">
                      Fare
                    </th>
                    <th class="padding th">
                      RefundableAmt
                    </th>
                    <th class="padding th">
                      AirlineCancellationFee
                    </th>
                    <th class="padding th">
                      AirlineRefund
                    </th>
                    <th class="padding th">
                      ServiceFee
                    </th>
                    <th class="padding th">
                      Remark
                    </th>

                  </tr>
                </thead>
                <tr class="hvr">
                  <!-- <tr *ngFor="let d of reasonarr, index as i" class="hvr" > -->
                  <td class="td">{{statusresponse.Fare}}</td>
                  <td class="td">{{statusresponse.RefundableAmt}}</td>
                  <td class="td">{{statusresponse.AirlineCancellationFee}}</td>
                  <td class="td">{{statusresponse.AirlineRefund}}</td>
                  <td class="td">{{statusresponse.ServiceFee}}</td>
                  <td class="td">{{statusresponse.Status.CCStaffRemarkOnCancelCharge}}</td>
                </tr>

              </table>


              <form [formGroup]="remarksCommit">
                <div>
                  <fieldset>
                    <ion-input *ngIf="indexHidden" type="text" formControlName="ClientRemarkCharge"
                      placeholder="Remark On CancelCharge"></ion-input>
                  </fieldset>
                  <fieldset>
                    <ion-input *ngIf="indexHidden" type="text" formControlName="ClientRemarkCommit"
                      placeholder="Remark On CancelCommit"></ion-input>
                  </fieldset>

                  <ion-button [disabled]="!remarksCommit.valid " (click)="cancelcommit()">Confirm</ion-button>

                </div>

              </form>

            </ion-card>
          </ion-row>
        </div>

      </ng-container>

    </ng-container>

    <ion-col size-md="11" size-lg="11" size-xl="11">
      <div style='background: transparent; width: 100%;' *ngIf="showticket">
        <div class='c'></div>
        <br />
        <table
          style='padding: 5px 10px 5px; border: #d8d8d8 1px double; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); background: #fff;'
          cellspacing='0' cellpadding='0' width='767' align='center'>
          <tr>
            <td>
              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; margin-top: 10px;'>
                <tr style='text-align: center;'>
                  <td width='209' style='text-align: left;'>
                    <div style='font-size: 26px; font-weight: bold; color: #f03900;'>Flight E-Ticket</div>
                    <div style='font-size: 12px; line-height: 10px;'><i>As on dated
                        <b>{{test.SelectFlights.DDate}}</b>
                      </i></div>
                  </td>
                  <td width='201' style='text-align: right;'>
                    <ion-icon name="close-circle-outline" class="close" (click)="hide()"></ion-icon>
                    <div style='font-size: 18px; font-weight: bold; color: #f03900;'>Kafila Hospitality and
                      Travels Pvt Ltd</div>
                    <!-- <div style='font-size: 12px;'></div> -->
                    <div style='font-size: 12px;'>Customer Email Id :- {{test.PaxInfo.PaxEmail}}</div>
                    <div style='font-size: 12px;'>Customer Mobile No :- {{test.PaxInfo.PaxMobile}}</div>
                  </td>
                </tr>
                <tr style='border: 0; padding: 5px;' height='10' cellspacing='0' cellpadding='0' bgcolor='transparent'>
                  <td></td>
                </tr>
                <tr class='ClassStrip'>
                  <td style='text-align: left; font-size: 14px; padding: 2px; color: #111; background: #efefef;'
                    width='300'>
                    APNR ~ <b>{{test.BookingInfo.APnr}}</b>
                    GPNR ~ <b>{{test.BookingInfo.GPnr}}</b>
                  </td>
                  <td style='text-align: right; font-size: 14px; padding: 2px; color: #111; background: #efefef;'
                    width='300'>
                    Booking Id ~ <b>{{test.BookingInfo.BookingId}}</b></td>
                </tr>
              </table>
              <table style='border: 0; padding: 5px;' height='12' cellspacing='0' cellpadding='0' bgcolor='#fff'>
                <tr>
                  <td></td>
                </tr>
              </table>

              <table style='border: 0; padding: 5px;' height='12' cellspacing='0' cellpadding='0' bgcolor='#fff'>
                <tr>
                  <td></td>
                </tr>
              </table>

              <!--flight 1-->
              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; border-bottom: 1px solid #ccc'
                *ngFor=" let d of test.SelectFlights">
                <tr
                  style='padding: 3px 5px; font-size: 15px; background: transparent; color: #555; font-weight: bold; border-bottom: 0px solid #CCC;line-height: 24px;'>
                  <td colspan='4' style='font-size: 14px;'><span style='display: none'>Onward</span>
                    <div style='float: left; background-position: -242px -441px' class='fltLogo'></div>

                    <span>Flight Summary </span>

                  </td>

                </tr>

                <tr class='ClassHead'>
                  <td width='73'>Flight</td>
                  <td width='73'>Date</td>
                  <td width='73'>From / Trml</td>
                  <td width='73'>To / Trml</td>
                  <td width='73'>Departs</td>
                  <td width='73'>Arrives</td>

                </tr>
                <tr class='ClassHeadContent' *ngFor=" let a of d.Itinerary">
                  <td width='73'>{{a.FCode}}{{a.FNo}}</td>
                  <td width='73'>{{a.DDate}}</td>
                  <td width='93'>{{a.SrcName}} / {{a.DTrmnl}}</td>
                  <td width='93'>{{a.DesName}} / {{a.ATrmnl}}</td>
                  <td width='63'>{{a.DDate}}</td>
                  <td width='63'>{{a.ADate}}</td>

                </tr>


              </table>


              <!--pax-->
              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; border-bottom: 1px solid #ccc'
                *ngFor="let a of test.PaxInfo.Passengers">
                <tr class='ClassTitle'>
                  <td colspan='5' width='97%'>Traveller's Summary</td>
                </tr>
                <tr class='ClassHead'>
                  <td>No</td>
                  <td class='txt-lt pad-lt-5'>Passenger Name</td>
                  <td>Type</td>
                  <td>Gender </td>
                  <td>DOB</td>

                </tr>
                <tr class='MailTr'
                  style='font-size: 11px; text-align: center; line-height: 19px; font-size: 13px; background: #fff'>
                  <td style='padding: 2px 0; border-right: 1px solid  #ff8a8a;'>1</td>
                  <td
                    style='font-weight: bold; padding: 2px 0; border-right: 1px solid  #ff8a8a; text-align: left; padding: 2px 0px 2px 5px;'>
                    {{a.FName}} {{a.LName}}</td>
                  <td style='padding: 2px 0; border-right: 1px solid  #ff8a8a;'>{{a.PaxType}}</td>
                  <td style='padding: 2px 0; border-right: 1px solid  #ff8a8a;'>{{a.Gender}}</td>
                  <td style='padding: 2px 0; border-right: 1px solid  #ff8a8a;'>{{a.Dob}}</td>

                </tr>

              </table>
              <table style='border: 0; padding: 5px;' height='12' cellspacing='0' cellpadding='0' bgcolor='#fff'>
                <tr>
                  <td></td>
                </tr>
              </table>


              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; border-bottom: 1px solid #ccc'>
                <tr class='ClassTitle'>
                  <td colspan='5' width='97%'>FareBreakup
                    Summary</td>
                </tr>
                <tr class='ClassHead'>
                  <!-- <td>No</td> -->
                  <td width='400' class='txt-lt pad-lt-5'>No</td>
                  <td width='400' class='txt-lt pad-lt-5'>Type</td>
                  <td width='400' class='txt-lt pad-lt-5'>amount</td>


                </tr>
                <tr style='background: #fff !important; font-weight: normal' class='ClassHeadContent'
                  *ngFor=" let d of tax; index as i ">
                  <td width='100'>{{i+1}}</td>
                  <td width='200' class='txt-lt pad-lt-5'>{{d.CType}}({{d.CCode}})</td>

                  <td width='200'>{{d.Amt}}</td>
                </tr>

              </table>


              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; border-bottom: 1px solid #ccc'
                *ngFor=" let d of test.SelectFlights">
                <tr class='ClassTitle'>
                  <td colspan='5' width='97%'>Fare Summary</td>
                </tr>
                <tr class='ClassHead'>
                  <td>No</td>
                  <td width='400' class='txt-lt pad-lt-5'>Type</td>

                  <td>Total (Inr)</td>
                </tr>
                <tr style='background: #fff !important; font-weight: normal' class='ClassHeadContent'>
                  <td width='100'>1</td>
                  <td width='200' class='txt-lt pad-lt-5'>Basic</td>

                  <td width='200'>{{d.Fare.BasicTotal}}</td>
                </tr>
                <tr style='background: #fdffe2 !important; font-weight: normal' class='ClassHeadContent'>
                  <td width='100'>2</td>
                  <td width='200' class='txt-lt pad-lt-5'>YQ</td>

                  <td width='200'>{{d.Fare.YqTotal}}</td>
                </tr>
                <tr style='background: #fff !important; font-weight: normal' class='ClassHeadContent'>
                  <td width='100'>3</td>
                  <td width='200' class='txt-lt pad-lt-5'>Taxes </td>

                  <td width='200'>{{d.Fare.TaxesTotal}}</td>
                </tr>

                <tr style='background: #fff !important; font-weight: bold' class='ClassHeadContent'>
                  <td width='100'>5</td>
                  <td width='200' class='txt-lt pad-lt-5'>Grand Total</td>

                  <td width='200'>{{d.Fare.GrandTotal}}</td>
                </tr>
              </table>

              <table style='border: 0; padding: 5px;' height='12' cellspacing='0' cellpadding='0' bgcolor='#fff'>
                <tr>
                  <td></td>
                </tr>
              </table>
              <table cellspacing='0' cellpadding='0' style='width: 97%; margin: auto; border-bottom: 1px solid #ccc'
                *ngFor=" let d of test.SelectFlights">
                <tr class='ClassTitle'>
                  <td colspan='5' width='97%'>Flight Inclusion</td>
                </tr>
                <tr class='ClassHead'>
                  <td width='100'>No</td>
                  <td width='200' class='txt-lt pad-lt-5'>Type</td>
                  <td width='200'>Onward</td>
                  <td width='200'>Return</td>
                </tr>
                <tr class='ClassHeadContent'>
                  <td width='100'>1</td>
                  <td width='200' class='txt-lt pad-lt-5'>Check-In Baggage</td>
                  <td width='200'>{{d.FareRule.CHKNBG}}</td>
                  <td width='200'>ASAP Airlines</td>
                </tr>
                <tr class='ClassHeadContent'>
                  <td width='100'>2</td>
                  <td width='200' class='txt-lt pad-lt-5'>Cabin Baggage</td>
                  <td width='200'>{{d.FareRule.CBNBG}}</td>
                  <td width='200'>ASAP Airlines</td>
                </tr>
                <tr class='ClassHeadContent'>
                  <td width='100'>3</td>
                  <td width='200' class='txt-lt pad-lt-5'>Cancelation Fee</td>
                  <td width='200'>{{d.FareRule.CBH}} - {{d.FareRule.CBHA}} <br> {{d.FareRule.CWBH}} -
                    {{d.FareRule.CWBHA}}</td>
                  <td width='200'>ASAP Airlines</td>
                </tr>
                <tr class='ClassHeadContent'>
                  <td width='100'>4</td>
                  <td width='200' class='txt-lt pad-lt-5'>Date Change Fee</td>
                  <td width='200'>{{d.FareRule.RBH}} - {{d.FareRule.RBHA}} <br> {{d.FareRule.RWBH}} -
                    {{d.FareRule.RWBHA}}</td>
                  <td width='200'>ASAP Airlines</td>
                </tr>
              </table>

              <!--Important Terms-->
              <table class='imp-note' border='0' cellspacing='0' cellpadding='0' width='767' align='center'>
                <tr>
                  <u>Important Terms:</u>

                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;Check-in begins 2 hours before scheduled departure
                    and closes
                    45
                    minutes prior to the departure time.</td>
                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;Passengers, including children and infant, must
                    present with
                    valid
                    identification while checki-in</td>
                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;Use your Airline PNR for all communication about
                    Terminal
                    Queries,
                    Baggage, Booking Status.</td>
                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;We are not be responsible for any Flight
                    delay/Cancellation
                    from
                    airline's end.</td>
                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;Change permitted more than 2 hours prior to
                    departure with
                    payment of
                    change fee and difference in fare if applicable.</td>
                </tr>
                <tr>
                  <td><span class='circle-bullet'></span>&nbsp;In case of cancellations less than 6 hours before
                    departure
                    please
                    cancel with the airlines directly. We are not responsible for any losses if the request is
                    received less
                    than 6
                    hours before departure.</td>
                </tr>
              </table>
          </tr>
        </table>
        <table style='border: 0; padding: 5px;' height='10' cellspacing='0' cellpadding='0' bgcolor='#fff'></table>
        <br />
        <br />
      </div>
    </ion-col>
    <ion-col size-md="1" size-lg="1" size-xl="1"> </ion-col>


  </ion-content>
</ion-app>