<ion-app class="for-web">
  <ion-content>
    <!-- <app-login-header></app-login-header> -->

    <ion-row style="margin-top: 25px;">
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10">
        <ion-row>
          <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" class="ion-text-center"
            style="border-bottom: 2px solid rgb(13, 100, 13);">
            <h1 style="color: rgb(13, 100, 13);"><b>Contact Information</b></h1>
          </ion-col>
          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="airplane" style="color: rgb(13, 100, 13); transform:rotate(-90deg);"
                    class="ion-text-center"></ion-icon>
                  Flight Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);">


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="train"></ion-icon> Rail Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">

              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>


          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="headset"></ion-icon>
                  Call Center
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>

            </ion-card>
          </ion-col>


          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="train"></ion-icon> Hotel Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>


          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="briefcase"></ion-icon> Package Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">

              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="calculator"></ion-icon>
                  Account Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>







          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="cash"></ion-icon>
                  Payment Upload Related Issue
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">

              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="trending-up"></ion-icon>
                  Sales Department
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">

              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>



          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" style="margin-top: 25px;">
            <ion-card>
              <h2 style="color: rgb(13, 100, 13); padding: 10px 0px;" class="ion-text-center"><b>
                  <ion-icon name="snow"></ion-icon>
                  API
                </b></h2>
              <hr style="background-color: rgb(13, 100, 13);;">

              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>
              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="call"></ion-icon>Technical Issue :
                </b> +91 8595968585</p>


              <p style="color: black; margin-left: 13px;"><b>
                  <ion-icon name="mail"></ion-icon>Technical Issue :
                </b> dfg@gmail.com</p>
            </ion-card>
          </ion-col>


        </ion-row>
      </ion-col>
    </ion-row>




    <ion-row style="margin-top: 25px;">
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10" class="ion-text-center"
        style="border-bottom: 2px solid rgb(13, 100, 13);">
        <h1 style="color: rgb(13, 100, 13);"><b>OFFICE AND BANK's INFORMATION</b></h1>
      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10"
        style="color: black; padding: 0px 20px;">
        <ion-card
          style="color: black; padding: 13px;background-color: rgba(233, 234, 235, 0.192);border: 1px solid rgba(253, 206, 206, 0.466);margin: 25px 0px;">
          <div class="example5">
            <h3>
              <ion-icon name="warning" style="color: red;"></ion-icon>
              <ion-icon name="warning" style="color: red;"></ion-icon>
              <ion-icon name="warning" style="color: red;"></ion-icon>
              We have closed our Standard Chartered,
              <b style="color: rgb(13, 100, 13);">Yes Bank, State Bank of India, Punjab National </b>
              and
              <b style="color: rgb(13, 100, 13);">Kotak Mahindra bank </b>account. Please check before making
              payment .
            </h3>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5" style="color: black; padding: 0px 20px;">


        <ion-card *ngFor="let x of office_loction"
          style="color: black; padding: 13px 0px;background-color: rgba(233, 234, 235, 0.192);border: 1px solid rgba(253, 206, 206, 0.466);margin: 25px 0px;">
          <h2 style="color: rgb(13, 100, 13); padding-left: 13px;">
            <ion-icon name="location"></ion-icon> {{x.location_name}}
          </h2>
          <hr style="background-color: rgb(13, 100, 13);;">
          <p style="padding-left: 13px;">{{x.address}}</p>
          <p style="padding-left: 13px;"> <span *ngIf="x.state"></span>{{x.state}}<span *ngIf="x.pincode">,
              {{x.pincode}}</span></p>
          <p style="padding-left: 13px;"><span *ngIf="x.mobile"><b>M</b> : {{x.mobile}} , </span><span
              *ngIf="x.phone"><b>P</b> : {{x.phone}}</span>
          </p>
          <p style="padding-left: 13px;"><b>E</b> : <span style="color: blue;">{{x.email}}</span></p>

        </ion-card>
      </ion-col>



      <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5" style="color: black; padding: 0px 20px;">
        <ion-card *ngFor="let x of bank"
          style="color: black;background-color: rgba(233, 234, 235, 0.192);border: 1px solid rgba(253, 206, 206, 0.466);margin: 25px 0px;padding: 13px 0px;">
          <h2 style="color: rgb(13, 100, 13); padding-left: 13px;">
            <img alt="Bank_logo" src="{{x.img}}" style="cursor: pointer; height: 40px;width: 60px;">
            {{x.bankName}}
          </h2>
          <hr style="background-color: rgb(13, 100, 13);;">
          <p style="padding-left: 13px;"><b>A/c Name</b> : {{x.AcName}}</p>
          <p style="padding-left: 13px;"><b>A/c No. </b>: {{x.AcNo}}</p>
          <p style="padding-left: 13px;"><b>Branch</b> : {{x.Branch}}</p>
          <p style="padding-left: 13px;"><b>IFSC Code</b> : {{x.IFSCCode}} </p>
          <p style="color: red;padding-left: 13px;">{{x.Info}}</p>
        </ion-card>
      </ion-col>


    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1">

      </ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.402220030546!2d77.19099795035385!3d28.647672982325542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d029e3840e5af%3A0xbcc4960dc8212363!2sKafila%20Tour%20%26%20Travels!5e0!3m2!1sen!2sin!4v1624517011395!5m2!1sen!2sin"
          width="100%" height="400"></iframe>

      </ion-col>
    </ion-row>





    <!-- <ion-fab class="fix-btn" horizontal="end" vertical="bottom" slot="fixed">
      <ion-router-link target="_blank"
        href="https://web.whatsapp.com/send?phone=+919540748072&amp;text=Hi, I would like to get more information..">
        <ion-fab-button color="success">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
      </ion-router-link>
    </ion-fab> -->

    <!-- <app-footer></app-footer> -->
  </ion-content>

</ion-app>