<ion-slides [options]="slideOpts" pager="true" style="padding: 0px 0px;">
  <!-- <ion-slide>
    <img src="https://kafilaholidays.in/upload/6.jpg?ver=1704705687122">
  </ion-slide> -->
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/2.jpg?ver=1624949818190">
  </ion-slide>
  <ion-slide>
    <img src="http://kafilaholidays.in/upload/5.jpg?ver=1704705687122">
  </ion-slide>
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/4.jpg?ver=1624949818190">
  </ion-slide>
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/5.jpg?ver=1624949818190">
  </ion-slide>
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/6.jpg?ver=1624949818190">
  </ion-slide>
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/7.jpg?ver=1624949818190">
  </ion-slide>
  <ion-slide>
    <img src="https://kafilaholidays.in/upload/3.jpg?ver=1664536190391">
  </ion-slide>
</ion-slides>
